.ui.container {
    padding: 0;
}
.ui.menu .item {
    font-size: 14px;
}
.overlay{
    background: rgba(0, 0, 0, 0.1);
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:100;
}
.box{
    position:fixed;
    top:-700px;
    left:30%;
    right:30%;
    background-color:#fff;
    color:#7F7F7F;
    padding:20px;
    border:2px solid #ccc;
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    z-index:101;
}
a.boxclose {
    float: right;
    width: 26px;
    height: 26px;
    background: url('/images/cancel.png') transparent repeat top left;
    margin-top: -30px;
    margin-right: -30px;
    cursor: pointer;
    background-color: #eee;
    color: black;
    border-radius: 10px;
    text-align: center;
    font-size: 22px;
    padding-top: 4px;
}
.inputform {
    width: 100%;
    resize: none;
    height: 200px;
}
.profileStylePage{

}

.profileInnerPage{
    height: 1200px;
    position: absolute;
    top: 100px;
    background-color: #eee;
    left:10%;
    right:10%;
    box-shadow: 0px 2px 4px 2px rgba(0,0,0, 0.4);
}
.backgroundProfileImage{
    background:url('http://josephholder.com/otherfiles/heads_faces.jpg') no-repeat;
    height:400px;
    background-size: cover;
}
.ui.grid.graypPanelProfile{
    background-color: #eee;
    background-size: cover;
    width: 100%;
    margin: 0;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: #666;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 400ms;
    cursor: pointer;
}
.inputfile:focus + label, .inputfile + label:hover {
    background-color: #4183c4;
    transition: 400ms;
}
.profilepic{
    border-radius: 4px;
    cursor: pointer;
    max-height: 200px!important;
    transition: 400ms;
}
.profilepic:hover{
    opacity: 0.92;
    transition: 400ms;
}
.size_image{
    max-height: 200px;
    max-width: 300px;
    display: flex;
    cursor: pointer;
}
#box_image{
    left: 20%;
    right: 20%;
}
.imgCollection {
    display: block;
    margin: 0 auto;
    max-height: 500px;
    overflow-y: scroll;
    width: 100%;
}
button {
    background:none;
    border:none;
    outline: none;
}

button.rest {
    background:none;
    border:none;
    outline: none;
    color: #4183c4;
    font-family: 'Amaranth', sans-serif;
}


.textChangeBtn {
    cursor: pointer;
    font-size: 20px;
    background-color: powderblue;
    padding: 5px 10px;
    border-radius: 4px;
    transition: 300ms;
}
a.textChangeBtn:hover{
    transition: 300ms;
    background-color: #4183c4!important;
}
.height300 {
    height: 300px;
}

.noteOverflow {
    overflow-y: scroll;
    display: block;
    width: 100%;
    height: 300px;
}

